body {
    margin: 0;
}

.container {
    background-color: #272822;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas:
        "output editor editor editor"
        "footer footer footer footer";
}

.leftSide {
    grid-area: output;
    border-right: 1px solid;
    border-width: 1px;
    border-color: #797979;
    overflow-y: auto;
}

.rightSide {
    grid-area: editor;
}

.bottom {
    grid-area: footer;
    border-top: 1px solid;
    border-width: 1px;
    border-color: #797979;
}

.textColor {
    color: #F8F8F2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.users {
    float: left;
    margin-left: 15px;
}

.users > div {
    display: inline;
    padding-right: 10px;
}

.settings {
    margin-right: 15px;
}

.settings > div {
    float: right;
}

.runButton {
    border-radius: .4em;
    background: linear-gradient(#26dbb8, #32ceaf);
    border: none;
    color: white;
    text-decoration: none;
    padding: 12px 38px;
    font-size: 14px;
}

/* Source: https://www.tutorialspoint.com/How-do-I-wrap-text-in-a-pre-tag-in-HTML */
pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
 }

.runButton:hover {
    background: #48c9b0;
    cursor: pointer;
}

.codeRunResults {
    margin-left: 10px;
    margin-right: 10px;
}

.codeRunError {
    color: #FF6188;
}